<div class="noquestions">
    <img src="/images/noquestions.svg" alt="Sem perguntas">
    <p>Sem pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o <br>codigo dessa sala para outras pessoas!</p>
</div>