<html>
    <header>
        <title>Senha incorreta</title>
        <script>
            confirm("Senha incorroa")
            window.location.replace("/room/ <%= roomId %>")
        </script>
    </header>
</html>